
.ummi {
    display: inline-block;
    background-color: aquamarine;
    
}
.ummi1 {
    display: inline-block;
    margin-right: 260px;
    margin-left: 30px;
}
.ummi2 {
    display: inline-block;
    margin-right: 100px;
}